.style{
    height: 50%;
    width: 50%;
    text-align:center;
    color:red;
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin-left: 40%;
}

.Button{
    background-color:aliceblue;
    margin-top: 10px;
}

h1{
    text-align: center;
    color: #000;
}